<template name="HomePublic">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> HomePublicHomeJumbotron}}
	</div>
</template>

<template name="HomePublicHomeJumbotron">
   <div class="jumbotron ">

       <div id="content"  class="container bg-overlay">
           <div class="row text-center">
               <h1 id="component-title">
                   شارك كتابي
               </h1>
               <h4>مكتبة الاستعارة العربية في اسطنبول
               </h4>
               <br><br>
               <p id="jumbotron-button">
                   <a href ="{{pathFor 'categories'}}" class="btn btn-primary btn-lg" role="button">
                       متابعة &raquo;
                   </a>
               </p>
           </div>
       </div>

		</div>

</template>

