 <template name='categories'>
    <div class="space">
    </div>
     <div class="row">
         <!--////-->
         <!--<div id="dataview-controls-search">-->
             <!--<div id="dataview-controls-search-group" class="form-group col-md-3">-->
                 <!--<label class="sr-only" for="search">-->
                     <!--ابحث  عن  اسم كتاب-->
                 <!--</label>-->
                 <!--<input type="text" class="form-control" id="dataview-search-input"-->
                        <!--placeholder="ابحث  عن  اسم كتاب" name="search" value="{{searchString}}"-->
                        <!--autofocus="autofocus">-->
                 <!--<button type="button" id="dataview-search-button" class="btn btn-primary">-->
                                     <!--<span class="fa fa-search">-->
                                     <!--</span>-->
                 <!--</button>-->
             <!--</div>-->

         <!--</div>-->
         <!--/////-->
         <div class='col-md-offset-2 col-md-8'>
             <div class="list-group">
                 <div class="row">
                     {{>searchBox}}
                     {{#each categories}}
                         <div class="col-md-4">
                             <div class="list-group-item ">
                                 <div class="icon">
                                     <div class="image">
                                         <div class="info" itemprop="image">
                                             <img class="img-responsive imgSize" src="images\1.jpg">
                                         </div>
                                 <!-- <h5>
                                     <span class="badge">
                                         عدد الكتب{{booksCounter}}
                                     </span>
                                 </h5> -->

                                 <!--<div class="more">
                                     <a href="{{pathFor 'books' id=this._id}}" title="Title Link">
                                         <i class="fa fa-angle-double-left"></i>  المزيد
                                     </a>
                                 </div>-->
                                     </div>
                                     <div class="lecturer-data text-center ">
                                         <a href="{{pathFor 'books' id=this._id}}" title="Title Link"><h2>{{title}}</h2></a>
                                     </div>
                                 </div>

                             </div>
                             <div class="space">
                             </div>
                             <div class="space">
                             </div>
                         </div>
                     {{/each}}
                 </div>
             </div>
         </div>
     </div>
 </template>
 <template name="searchBox">
     {{> EasySearch.Input index=booksIndex }}

     <ul>
         {{#EasySearch.Each index=booksIndex }}
             <li>title of the book: {{title}}</li>
         {{/EasySearch.Each}}
     </ul>
 </template>
