<template name="Info">
    <!--<div class="row">-->
        <!--<div class="col-md-5 col-xs-2 text-right">-->

           <!--<h2> رسالتنا </h2>-->
           <!--<p>-->
 <!--نشر الثقافة والمعرفة والوعي بين الشباب في مدينة اسطنبول من خلال إعارة الكتب العربية بنوعيها الثقافية والعلمية بأفل كلفة وأقرب مكان-->
           <!--</p>-->
            <!--<br>-->
            <!--<h2>رؤيتنا</h2>-->
            <!--<p>أكبر مكتبة استعارة على مستوى تركيا تساهم في توسيع أفاق الوعي وتفعيلها لدى الشباب-->
            <!--</p>-->
            <!--<br>-->
            <!--<h2>أهدافنا</h2>-->
            <!--<p>-->
                <!--توسيع مدارك الشباب-->
                <!--<br>-->
                <!--إيصال المحتوى الثقافي للشباب بأقل كلفة-->
                <!--<br>-->
                <!--تزويد الشباب بكتب غير متوفرة باسطنبول-->
                <!--<br>-->
                <!--زيادة نسبة القراء في مدينة اسطنبول-->
            <!--</p>-->
            <!--<br>-->
            <!--<h2>قيمنا</h2>-->
            <!--<p>-->
                <!--السرعة-->
                <!--<br>-->
                <!--الأمانة-->
                <!--<br>-->
                <!--الالتزام-->
                <!--<br>-->
                <!--التعاون-->
            <!--</p>-->
        <!--</div>-->
    <!--</div>-->
    <h4>
        الصفحة قيد التصميم
    </h4>
</template>