<template name="records">
    <div class="row">
        <div class="space"></div>
        <div class='col-md-8 col-md-offset-2'>
                    <p>اختار ماتريد أن تراه!!</p>
            <div class="panel-group" id="accordion_reg" role="tablist" aria-multiselectable="false">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="editappoint">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion_reg" href="#usersrecords" aria-expanded="true" aria-controls="usersrecords">
                                سجلات المستخدمين
                            </a>
                        </h4>
                    </div>
                    <div id="usersrecords" class="panel-collapse collapse" role="tabpanel" aria-labelledby="usersrecords">
                        <div class="panel-body">
                            {{> tabular table=TabularTables.Users selector=selector class="table table-striped table-bordered table-condensed"}}
                            <div class="space"></div>
                            {{> TmpModalRemoveuser}}
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="editappoint">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion_reg" href="#booksrecordsrent" aria-expanded="true" aria-controls="booksrecordsrent">
                   سجلات االكتب المستعارة
                    </a>
                </h4>
            </div>
            <div id="booksrecordsrent" class="panel-collapse collapse" role="tabpanel" aria-labelledby="booksrecordsrent">
                <div class="panel-body">
                    {{> tabular table=TabularTables.BooksRecourdsRent selector=selector class="table table-striped table-bordered table-condensed"}}
                    <!--<table class="table table-striped">-->
                        <!--{{#each booksrent}}-->
                                <!--<thead>-->
                                <!--<tr>-->
                                    <!--<th>-->
                                        <!--{{title}}-->
                                    <!--</th>-->
                            <!--{{#each this.renting}}-->

                                    <!--<th>-->
                                        <!--{{username this.user}}-->
                                    <!--</th>-->
                            <!--{{/each}}-->
                                <!--</tr>-->
                                <!--</thead>-->
                        <!--{{/each}}-->
                        <!--</table>-->
                </div>
            </div>
        </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="editappoint">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion_reg" href="#booksrecords" aria-expanded="true" aria-controls="booksrecords">
                                سجلات الكتب المباعة
                            </a>
                        </h4>
                    </div>
                    <div id="booksrecords" class="panel-collapse collapse" role="tabpanel" aria-labelledby="booksrecords">
                        <div class="panel-body">
                            {{> tabular table=TabularTables.BooksRecourdsPurch selector=selector class="table table-striped table-bordered table-condensed"}}

                            <!--<table class="table table-striped">-->
                                <!--{{#each bookspurch}}-->
                                    <!--<thead>-->
                                    <!--<tr>-->
                                        <!--<th>-->
                                            <!--{{title}}-->
                                        <!--</th>-->
                                    <!--{{#each this.purching}}-->
                                            <!--<th>-->
                                                <!--{{username this.user}}-->
                                            <!--</th>-->
                                    <!--{{/each}}-->
                                        <!--</tr>-->
                                        <!--</thead>-->

                                <!--{{/each}}-->
                            <!--</table>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="UserActionBtns">
    <button id="btnRemove" type="button" class="btn btn-sm btn-default"  data-toggle="modal" data-target="#removeModal">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
</template>

<template name="TmpModalRemoveuser">
    <div id="removeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">حذف</h4>
                </div>
                <div class="modal-body">
                    <h4> هل أنت متأكد من حذف هذا المستخدم</h4>
                    <p>{{data.profile.name}} </p>
                </div>
                <div class="modal-footer">
                    <div class="form-group">

                        <button type="button" id="confirmTrue" class="btn btn-primary" data-dismiss="modal">نعم</button>
                        <button type="button" id="confirmFalse" class="btn btn-warning" data-dismiss="modal">لا</button>

                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</template>
