<template name="times">
    {{> TmplModalUpdate2}}
    {{> TmplModalRemove2}}
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            {{> tabular table=TabularTables.Appointments class="table table-striped table-bordered table-condensed "}}
        </div>
    </div>
    <div class="space">
    </div>
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            {{> addappointment }}
        </div>
    </div>
</template>
<template name="AppointmentActionBtns">
    <button id="btnUpdate" type="button" class="btn btn-sm btn-default"  data-toggle="modal" data-target="#updateModal">
        <span class="glyphicon glyphicon-pencil"></span>
    </button>
    <button id="btnRemove" type="button" class="btn btn-sm btn-default"  data-toggle="modal" data-target="#removeModal">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
</template>

<template name="TmplModalRemove2">
    <div id="removeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">حذف</h4>
                </div>
                <div class="modal-body">
                    <h4>هل أنت متأكد من حذف هذا الموعد</h4>
                    <!--<p>{{data.title}} </p>-->
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <button type="button" id="confirmTrue" class="btn btn-primary" data-dismiss="modal">نعم</button>
                        <button type="button" id="confirmFalse" class="btn btn-warning" data-dismiss="modal">لا</button>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</template>

<template name="TmplModalUpdate2">
    <div id="updateModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">تعديل الموعد</h4>
                </div>
                <div class="modal-body">
                    {{> UpdateAppointmentForm}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">إغلاق</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</template>

<template name="UpdateAppointmentForm">
    {{#autoForm collection="Appointments" id="afUpdateAppointment" type="update" doc=selectedAppointmentDoc}}
        <fieldset>
            {{> afQuickField name='place'}}
            {{> afQuickField name='date'}}
        </fieldset>
        <button type="submit" class="btn btn-primary">تعديل</button>
    {{/autoForm}}
</template>

<template name="addappointment" >
    <legend>إضافة موعد جديد</legend>
    {{#autoForm collection="Appointments"
    id="insertAppointmentForm" type="insert"}}
        {{> afQuickField name='place'}}
        {{> afQuickField name='date'}}
        <div>
            <button type="submit" class="btn btn-primary">إدخال</button>
        </div>
        {{> sAlert}}
    {{/autoForm}}
</template>
