<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        شارك كتابي
    </title>
</head>
<template name="marquee">
    <div class="row">

        <div class='marquee' data-duration='5000' data-gap='10' data-dupilcated='true'>
            dkfjhjdsklkjhvjkldkfjhjdkl;kfljghjjhjkjkkoyfru
        </div>

        <!--<div class="container">-->
        <!--<div class="row">-->
        <!--<div class="span12">-->
        <!--<div class="well">-->
        <!--<div id="myCarousel" class="carousel fdi-Carousel slide">-->
        <!--&lt;!&ndash; Carousel items &ndash;&gt;-->
        <!--<div class="carousel fdi-Carousel slide" id="eventCarousel">-->
        <!--<div class="carousel-inner onebyone-carosel">-->
        <!--<div class="item">-->

        <!--</div>-->
        <!--<a class="left carousel-control" href="#eventCarousel" data-slide="prev"></a>-->
        <!--<a class="right carousel-control" href="#eventCarousel" data-slide="next"></a>-->
        <!--</div>-->
        <!--&lt;!&ndash;/carousel-inner&ndash;&gt;-->
        <!--</div>&lt;!&ndash;/myCarousel&ndash;&gt;-->
        <!--</div>&lt;!&ndash;/well&ndash;&gt;-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

    </div>
</template>
<template name="layout">
    <body class="has-canvas">

    <!--{{#if currentUser}}-->
    <!--{{> PrivateLayout}}-->
            <!--{{else}}-->
    <!--{{> PublicLayout}}-->
            <!--{{/if}}-->

    <div class="row">{{>marquee}}
    </div>

    </body>
</template>

<template name="PublicLayout">
    <div id="content" class="sticky-wrapper">
        <div id="navbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-container container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">
							Toggle navigation
						</span>
						<span class="icon-bar">
						</span>
						<span class="icon-bar">
						</span>
						<span class="icon-bar">
						</span>
                    </button>
                    <a class="navbar-brand" href="#">
                        شارك كتابي
                    </a>
                </div>
                <div id="menu" class="collapse navbar-collapse">
                    {{> PublicLayoutLeftMenu}}{{> PublicLayoutRightMenu}}
                </div>
            </div>
        </div>
        <div class="navbar-spacer">
        </div>
        {{> yield}}
    </div>
    <div id="footer" class="sticky-footer">
        <div class="footer-container container">
            <p class="text-muted">
            </p>
        </div>
    </div>
</template>

<template name="PublicLayoutLeftMenu">
    <ul id="menu-items" class="nav navbar-nav">
        <li id="menu-item-simple" class="{{menuItemClass 'categories'}}">
            <a href="{{pathFor 'categories'}}">
				<span class="item-title">
					المكتبة
				</span>
            </a>
        </li>
    </ul>
</template>

<template name="PublicLayoutRightMenu">
    <ul id="menu-items" class="nav navbar-nav navbar-left">
        <li id="menu-item-simple" class="{{menuItemClass 'register'}}">
            <a href="{{pathFor 'register'}}">
				<span class="item-title">
					إنشاء حساب
				</span>
            </a>
        </li>
        <li id="menu-item-simple" class="{{menuItemClass 'login'}}">
            <a href="{{pathFor 'login'}}">
				<span class="item-title">
					تسجيل الدخول
				</span>
            </a>
        </li>
    </ul>
</template>

<template name="PrivateLayout">
    {{#unless isAdmin}}
        <div id="drawerExample" class="drawer drawer-right dw-xs-10 dw-sm-6 dw-md-2 fold"
             aria-labelledby="drawerExample">
            <div class="drawer-controls">
                <a href="#drawerExample" data-toggle="drawer" aria-foldedopen="false" aria-controls="drawerExample"
                   class="btn btn-info btn-sm "><span class="glyphicon glyphicon-tasks"></span></a>
            </div>
            <div class="drawer-contents">
                <div class="drawer-heading">
                    <h2 class="drawer-title">حسابي</h2>
                </div>
                <ul class="drawer-nav">
                    <h3 class="text-right">
                        اهـلاً بـك {{userFullName}}!
                    </h3>
                    <br>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <!--<div class="panel panel-default">-->
                        <!--<div class="panel-heading" role="tab">-->
                        <!---->
                        <!--</div>-->
                        <!--</div>-->
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                       href="#rentbook1" aria-expanded="false" aria-controls="rentbook1">
                                        الكتب المستعارة
                                    </a>
                                </h4>
                            </div>
                            <div id="rentbook1" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="rentbook1">
                                <div class="panel-body">
                                    {{#each rentbook}}
                                        <div class="col-md-7">
                                            {{title}}
                                        </div>
                                    {{else}}
                                        <div class="col-md-7">
                                            لا يوجد
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                       href="#purchbook1" aria-expanded="false" aria-controls="purhbook1">
                                        الكتب االمشتراة
                                    </a>
                                </h4>
                            </div>
                            <div id="purchbook1" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="purchbook1">
                                <div class="panel-body">
                                    {{#each purchbook}}
                                        <div class="col-md-7">
                                            {{title}}
                                        </div>
                                    {{else}}
                                        <div class="col-md-7">
                                            لا يوجد
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    {{/unless}}

    <div id="content" class="sticky-wrapper">
        <div id="navbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
            <!--<a id="menu-toggle-right" href="#" >-->
            <!--<i class="fa fa-bars icon-large"></i>-->
            <!--</a>-->
            <div class="navbar-container container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">
					        		Toggle navigation
						</span>
						<span class="icon-bar">
						</span>
						<span class="icon-bar">
						</span>
						<span class="icon-bar">
						</span>
                    </button>
                    <!--<a class="navbar-brand" data-toggle="collapse" data-parent="#accordion_reg" href="#record"-->
                    <!--aria-expanded="true" aria-controls="record">-->
                    <!--حسابي-->
                    <!--</a>-->
                    <a class="navbar-brand" href="#">
                        شارك كتابي
                    </a>

                </div>
                <div id="menu" class="collapse navbar-collapse">
                    {{> PrivateLayoutLeftMenu}}{{> PrivateLayoutRightMenu}}
                </div>
            </div>
        </div>
        <div class="navbar-spacer">
        </div>
        <div class="container">
            <div class="row">
                <!--<div class="col-md-1">-->
                <!--{{> HomePrivate}}-->
                <!--</div>-->
                <div class="col-md-11">
                    <!--<div class="row">-->
                    <!--<div class="alert  alert-dismissible" role="alert">-->
                    <!--&lt;!&ndash;<button type="button" onclick="this.parentNode.parentNode.removeChild(this.parentNode);" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>&ndash;&gt;-->
                    <!--<strong><i class="fa fa-image"></i></strong> <marquee><p style="font-family: Impact; font-size: 18pt">-->
                    {{#each adds}}
                        <!--lfdjdfttdssjfhgf-->
                    {{/each}}
                    <!--</p></marquee>-->
                    <!--</div>-->
                    <!--</div>-->
                    {{> yield}}
                </div>
            </div>
        </div>
    </div>
    <div id="footer" class="sticky-footer">
        <div class="footer-container container">
            <p class="text-muted">
            </p>
        </div>
    </div>
</template>

<template name="PrivateLayoutLeftMenu">
    <ul id="menu-items" class="nav navbar-nav">
        <li id="menu-item-simple" class="{{menuItemClass 'categories'}}">
            <a href="{{pathFor 'categories'}}">
				<span class="item-title">
					المكتبة
				</span>
            </a>
        </li>
        <!--{{#unless isAdmin}}

        <li id="menu-item-simple" class="{{menuItemClass 'categories'}}">
        <a href="{{pathFor 'categories'}}">
           <span class="item-title">
					العودة إلى المكتبة
				</span>
        </a>
        </li>
{{/unless}}-->

    </ul>
</template>

<template name="PrivateLayoutRightMenu">
    <ul id="menu-items" class="nav navbar-nav navbar-left">
        {{#if isAdmin}}
            <li><a href="{{pathFor 'admin_page'}}"><i
                    class="fa fa-cogs fa-lg"></i></a></li>{{/if}}
        <li id="menu-item-dropdown" class="dropdown ">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                <span class="item-title">
                    {{userEmail}}
                </span>
                <b class="caret">
                </b>
            </a>
            <ul id="menu-items" class="dropdown-menu">
                <!--<li class="{{menuItemClass 'home_private'}}">-->
                <!--<a href="{{pathFor 'home_private'}}">-->
                <!--<span class="item-title">-->
                <!--الصفحة الشخصية-->
                <!--</span>-->
                <!--</a>-->
                <!--</li>-->
                <li class="{{menuItemClass 'user_settings'}}">
                    <a href="{{pathFor 'user_settings'}}">
						<span class="item-title">
							إعدادات الحساب
						</span>
                    </a>
                </li>
                <li class="{{menuItemClass 'logout'}}">
                    <a href="{{pathFor 'logout'}}">
						<span class="item-title">
							تسجيل الخروج
						</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</template>

