<template name="appointment">
   <div class="container">
      <div class="row">
            <h1>المواعيد المتوفرة
            </h1>
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default" id="panelpay">
                       <div class="panel-body">
                           <div class="pull-right">
                               <div class="btn-group">
                                   <button type="button" class="btn btn-success btn-filter" id="btnbasak"
                                       data-target="Basak">
                                       المركز(باشاك شهير )
                                   </button>
                                   <button type="button" class="btn btn-warning btn-filter" data-target="Fatih">
                                       منطقة الفاتح
                                   </button>
                                   <button type="button"  class="btn btn-danger btn-filter" data-target="Taksim">
                                       منطقة تقسيم
                                   </button>
                               </div>
                           </div>
                           <div class="table-container">
                           {{#each appointments}}
                               <table class="table table-filter" id="tablepay">
                                   <tbody>
                                        <tr>
                                                <!--data-status="Basak">-->
                                            <td>
                                               <!--<div class="rad">-->
                                                 <!--<label for="radio1">  <input type="radio" id="radio1">-->
                                                {{getPlaceName place}}
                                               <br>{{formatDate date}}


                                                 <!--</label>-->
                                               <!--</div>-->
                                             </td>
                                         </tr>
                                        <!--<tr data-status="Fatih">-->
                                            <!--<td>-->
                                                <!--<div class="rad">-->
                                                    <!--<label for="radio3">  <input type="radio" id="radio3">-->
                                                        <!--{{place}}&-->
                                                       <!--<br> {{time}}-->
                                                    <!--</label>-->
                                                <!--</div>-->
                                            <!--</td>-->
                                        <!--</tr>-->
                                        <!--<tr data-status="Taksem">-->
                                            <!--<td>-->
                                                <!--<div class="rad">-->
                                                    <!--<label for="radio2"> <input type="radio" id="radio2">-->
                                                        <!--{{place}}&-->
                                                        <!--<br>{{time}}-->
                                                    <!--</label>-->
                                                <!--</div>-->
                                            <!--</td>-->
                                        <!--</tr>-->
                                   </tbody>
                               </table>
                           {{/each}}
                           </div>
                       </div>
                </div>
            </div>
      </div>
   </div>
         <!--ToDo complite table-->
</template>