<template name="Login">
	<div class="container">
		<form id="login_form" class="account-form" role="form">
			<h2>
				Please sign in
			</h2>
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}
			<div id="login-with-password" style="padding-top: 10px;">
				<input id="login_email" type="text" class="form-control" placeholder="البريد الالكتروني" required autofocus>
				<input id="login_password" type="password" class="form-control" placeholder="كلمة السر" required>
				<button class="btn btn-lg btn-primary btn-block" type="submit" data-loading-text="يرجى الانتظار قليلاً..">
                    تسجيل الدخول
				</button>
				<p class="account-form-text-after" id="register-link">
					ليس لدي حساب !!
					<a href="{{pathFor 'register'}}">
إنشاء حساب جديد
					</a>
				</p>
				<p class="account-form-text-after" id="forgot-password-link">
					نسيت كلة السر!!
					<a href="{{pathFor 'forgot_password'}}">
اضغط هنا
					</a>
				</p>
			</div>
		</form>
	</div>
</template>

