<template name='books'>
  <div class="row">
   <div class='col-md-offset-2 col-md-8'>
    <div class="list-group">
     <div class="row">
      {{#each books}}
       <div class="col-md-4">

           <h2 class="text-center clearfix overme">
                <span itemprop="name">
                    <h3>
                        {{title}}
                    </h3>
                </span>
           </h2>
        <div class="list-group-item text-right">

          <div class="icon">
           <div class="image">
           </div>
           <div class="info " itemprop="image">

            <img class="img-responsive "  src={{getBookPic img}}>

             <div class="lecturer-data">
                 <!--<div class="space">-->
                 <!--</div>-->
               <h3 class="text-right">
                   اسم المؤلف:{{author}} <br>
                سعر التأمين:{{insurance}} Tl <br>
                سعر الاستعار:{{rent}} Tl <br>
                   {{#if purch}}
                سعر الشراء:{{purchasing}} Tl<br>
                   {{else}}
                       غير متوفر للشراء حالياً<br>
                   {{/if}}

               </h3>
              </div>
               <h4>
             <div class="more">
              <a href="{{pathFor 'book_details' id=this._id}}" title="Detail Link">
               <i class="fa fa-angle-double-left"></i>  المزيد
              </a>
             </div>
               </h4>
           </div>
          </div>
        </div>
       <div class="space"></div>
       </div>

      {{/each}}
     </div>
    </div>
   </div>
  </div>
</template>
